index.html text eol=crlf
marmores.html text eol=crlf
quartzitos.html text eol=crlf
granitos.html text eol=crlf
superficies-especiais.html text eol=crlf
projeto-azul-imperial.html text eol=crlf
projeto-escada-calcario.html text eol=crlf
script.js text eol=crlf
